/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

@import url('./fonts/linear-icons-font/style.css');

@import url('./fonts/fontawesome-free-5.12.1-web/css/all.min.css');

html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 15px;
  font-family: 'Poppins', Helvetica, sans-serif;
  line-height: 1.65em;
  overflow: auto;
  background-size: cover;
  color: #d5d5d5;
  background-position: center;
  background-position: 50% 50%;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
/* TOP MENU */

.topmenu {
  padding-top: 40px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px
}

.topmenu a {
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topmenu a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 50%;
}

/* Add a color to the active/current link */
.topmenu a.active {
  background-color: #04b4e0;
  color: white;
  border-radius: 50%;
}

.profile {
  border: 3px solid white;
  border-radius: 50%;
  width: 260px;
  height: 310px;
}

.info-data {
  color: black;
}

.info-data h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-data h4 {
  font-size: 17px;
}

.info-data h2 {
  font-size: 36px;
  font-weight: 600;
  color: black;
  margin: 5px 0 7px;
  line-height: 1.2em;
}

.info-data h4 {
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin: 5px 0;
  line-height: 1.2em;
}

/* --- Social Links --- */
.social-links {
  margin: 20px 0;
}

.social-links ul {
  list-style: none;
  padding: 0;
}

.social-links ul li {
  display: inline-block;
}

.social-links ul li a {
  color: black;
  border-radius: 20px;
  font-size: 18px;
  padding: 0;
  height: 30px;
  width: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  opacity: .9;
}

.social-links ul li a:hover {
  opacity: 1;
  background-color: rgba(255,255,255,.2);
}
/* --- End Social Links --- */

/* Buttons */

/* buttons */
.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
  display: inline-block;
  position: relative;
  padding: .8em 2.1em;
  margin-bottom: .75em;
  margin-right: .25em;
  font-size: 1em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid #04b4e0;
  color: #f5f5f5;
  text-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  font-family: 'Poppins', Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
}

.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type="button"]:last-child,
input[type="submit"]:last-child,
.wp-block-button .wp-block-button__link:last-child {
  margin-right: 0;
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #04b4e0;
  color: #fff;
  border: 2px solid #04b4e0;
}

.btn-secondary {
  border-color: #d5d5d5;
  background-color: transparent;
  box-shadow: 0px 10px 10px -8px rgba(0,0,0,.3);
  color: #f5f5f5;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}

.header-buttons {
  margin-top: 10px;
}

.header-buttons .btn-primary {
  background-color: transparent;
  color: #f5f5f5;
  border-color: #f5f5f5;
}

.header-buttons .btn-primary:hover {
  background-color: #fff;
  color: #04b4e0;
  border-color: #fff;
}

.data-container {
  margin-top: 50px;
}

.info-data .about-me {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 350px;
}

.footer {
position: sticky;
left: 0;
bottom: 0;
width: 100%;
}

.info-data .about-footer
{
color: black;
}

.info-data .btn
{
  color: black;
}
